{% extends "base.html" %}

{% block content %}

<div class="m-1 p-6 border border-black text-center">
        <h2>Hey User!</h2>
        <h1>Welcome to Sproutware</h1>
        <h5>It's a work in progress...</h5>
</div>

<div class="m-1 p-6 border border-black text-center">
    <h2>You began your planting lifestyle on:</h2>
    <h3>{{ start.current_time }}</h3>
</div>

<div class="m-1 p-6 border border-black text-center">
    <h2>The current time is: </h2>
    <h3>{{time_update.current_time}}</h3>
</div>

<div class="m-1 p-6 border border-black text-center">
    <h2>So you've been a gardner for:</h2>
    <h3>{{time_update.current_time - start.current_time}}</h3>
</div>



<div class="m-2 p-3 border border-black text-center">
    <h2>Seed: {{ plant.name }}</h2>
    <h5>Planted: {{plant.is_planted}}</h5>
    <h5>Planted Date: {{plant.time_of_planting}} </h5>
    <h5></h5>
    <h5>Sufficiently Watered: {{plant.is_watered}}</h5>
    <h5>Last watered: {{plant.time_of_watering}}</h5>

</div>

<div class="m-2 p-3 border border-black text-center">
    <h2>Actions for {{ plant.name }}</h2>

    {% if not plant.is_planted %}
        <form method="post" action="{{ url_for('plant_seed', seed_id=plant.id) }}">
            <button type="submit">Plant the {{ plant.name }} seed</button>
        </form>
    {% endif %}

    {% if plant.is_planted %}
        <form method="post" action="{{ url_for('water_seed', seed_id=plant.id) }}">
            <button type="submit">Water the {{ plant.name }}</button>
        </form>
    {% endif %}
</div>



{% endblock %}